<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="30723"
	android:versionName="3.23.2"
	package="com.ubercab"
	platformBuildVersionCode="21"
	platformBuildVersionName="5.0-1521886"
	>
	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="19"
		>
	</uses-sdk>
	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true"
		>
	</uses-feature>
	<uses-feature
		android:name="android.hardware.camera"
		android:required="false"
		>
	</uses-feature>
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		android:required="false"
		>
	</uses-feature>
	<uses-feature
		android:name="android.hardware.camera.flash"
		android:required="false"
		>
	</uses-feature>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CALL_PHONE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CAMERA"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_ACCOUNTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_CONTACTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.USE_CREDENTIALS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
		>
	</uses-permission>
	<permission
		android:name="com.ubercab.permission.C2D_MESSAGE"
		android:protectionLevel="0x00000002"
		>
	</permission>
	<permission
		android:name="com.ubercab.permission.NOTIFY_ACTION"
		android:protectionLevel="0x00000002"
		>
	</permission>
	<uses-permission
		android:name="com.ubercab.permission.C2D_MESSAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.google.android.c2dm.permission.RECEIVE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<application
		android:theme="@7F0E00AD"
		android:label="@7F0D02D1"
		android:icon="@7F020103"
		android:name="com.ubercab.client.core.app.RiderApplication"
		android:allowBackup="false"
		android:hardwareAccelerated="true"
		>
		<meta-data
			android:name="AdjustLogLevel"
			android:value="info"
			>
		</meta-data>
		<meta-data
			android:name="AdjustEnvironment"
			android:value="production"
			>
		</meta-data>
		<meta-data
			android:name="AdjustAppToken"
			android:value="5b27ezjsfqvw"
			>
		</meta-data>
		<meta-data
			android:name="com.crashlytics.ApiKey"
			android:value="c539e979e5ca22fe420a5e6c91687d3b22b04e50"
			>
		</meta-data>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@7F0C0001"
			>
		</meta-data>
		<meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="@7F0D02D9"
			>
		</meta-data>
		<meta-data
			android:name="com.baidu.lbsapi.API_KEY"
			android:value="@7F0D02D8"
			>
		</meta-data>
		<activity
			android:theme="@7F0E00B1"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.core.locale.SelectCountryActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:theme="@android:01030010"
			android:label="@7F0D0366"
			android:name="com.ubercab.client.core.vendor.google.GoogleWalletActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.about.AboutActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.forceupgrade.ForceUpgradeActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
			<intent-filter
				>
				<action
					android:name="com.ubercab.intent.ForceUpgrade"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F0E00B6"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.onboarding.OnboardingActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.signup.LegalActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:theme="@7F0E00B4"
			android:name="com.ubercab.client.feature.search.LocationSearchActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000034"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.employee.EmployeeSettingsActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:theme="@7F0E00B5"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.estimate.FareEstimateActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F0E00B8"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.eta.ShareEtaActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.faresplit.master.FareSplitInviteActivity"
			android:windowSoftInputMode="0x00000032"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F0E00B3"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.launch.MagicActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:theme="@7F0E00B3"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.launch.LauncherActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
			<intent-filter
				>
				<action
					android:name="com.ubercab.client.LAUNCHER"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="http"
					android:host="split.uber.com"
					android:pathPrefix="/"
					>
				</data>
				<data
					android:scheme="https"
					android:host="split.uber.com"
					android:pathPrefix="/"
					>
				</data>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="uber"
					>
				</data>
			</intent-filter>
		</activity>
		<activity-alias
			android:name="com.ubercab.UBUberActivity"
			android:targetActivity="com.ubercab.client.feature.launch.LauncherActivity"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity-alias>
		<activity
			android:name="com.ubercab.client.feature.music.LinkMusicProviderActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:label="@7F0D01B1"
			android:name="com.ubercab.client.feature.music.DisconnectMusicProviderActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			>
			 android:parentActivityName=".client.feature.profile.ProfileActivity">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.profile.ProfileActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F0E00B8"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.music.MusicProviderAuthorizationActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000002"
			>
		</activity>
		<activity
			android:label="@7F0D02AB"
			android:name="com.ubercab.client.feature.music.MusicProviderOfferActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			android:parentActivityName="com.ubercab.client.feature.music.LinkMusicProviderActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.music.LinkMusicProviderActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:name="com.ubercab.client.feature.music.SpotifyInterstitialActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			android:parentActivityName="com.ubercab.client.feature.music.MusicProviderOfferActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.music.MusicProviderOfferActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.AddFundsActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			android:windowSoftInputMode="0x00000014"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.AddFundsWebViewActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.AddPaymentActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.AddAlipayActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.VerifyAlipayActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.EditPaymentProfileActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			android:windowSoftInputMode="0x00000002"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.expense.ExpenseInfoActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			android:windowSoftInputMode="0x00000002"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.PaymentActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.PaymentOtpActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			android:windowSoftInputMode="0x00000014"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.payment.RewardInfoActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000012"
			android:parentActivityName="com.ubercab.client.feature.payment.PaymentActivity"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.profile.ProfileActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.promo.PromoActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000014"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.signup.SignupActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000002"
			android:parentActivityName="com.ubercab.client.feature.launch.MagicActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.launch.MagicActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F0E00B8"
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.signup.SignupGoogleActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.signin.SignInActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000002"
			android:parentActivityName="com.ubercab.client.feature.launch.MagicActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.launch.MagicActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.signup.SignupPaymentLastStepActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000012"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.signup.SignupPaymentOtpActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000014"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F0E00B8"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.core.vendor.facebook.FacebookAuthorizationActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000002"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.share.ShareActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.receipt.ReceiptActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000012"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.support.SupportHomeActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.surge.SurgeActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:parentActivityName="com.ubercab.client.feature.trip.TripActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:theme="@7F0E00B9"
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.trip.TripActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000030"
			>
		</activity>
		<activity
			android:label="@7F0D02D1"
			android:name="com.ubercab.client.feature.payment.TripBalancesActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:label="@7F0D0366"
			android:name="com.ubercab.client.feature.verification.MobileVerificationActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000490"
			>
			<intent-filter
				>
				<action
					android:name="com.ubercab.ACTION_MOBILE_VERIFICATION_SMS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.ubercab.ACTION_MOBILE_VERIFICATION_TOKEN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.ubercab.client.feature.trip.TripActivity"
				>
			</meta-data>
		</activity>
		<service
			android:label="@7F0D0366"
			android:name="com.ubercab.client.core.app.RiderService"
			>
		</service>
		<activity
			android:theme="@7F0E00BB"
			android:name="com.ubercab.webclient.app.WebClientActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<service
			android:name="com.paypal.android.sdk.payments.PayPalService"
			android:exported="false"
			>
		</service>
		<activity
			android:name="com.paypal.android.sdk.payments.PaymentActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.paypal.android.sdk.payments.LoginActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000002"
			>
		</activity>
		<activity
			android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="io.card.payment.CardIOActivity"
			android:configChanges="0x000000A0"
			>
		</activity>
		<activity
			android:name="io.card.payment.DataEntryActivity"
			>
		</activity>
		<receiver
			android:name="com.ubercab.client.core.analytics.receiver.InstallReceiver"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.vending.INSTALL_REFERRER"
					>
				</action>
			</intent-filter>
		</receiver>
		<activity
			android:theme="@android:01030010"
			android:name="com.ubercab.client.feature.notification.NotificationActionActivity"
			android:exported="true"
			android:excludeFromRecents="true"
			android:noHistory="true"
			>
		</activity>
		<receiver
			android:name="com.ubercab.client.feature.notification.NotificationActionReceiver"
			android:permission="com.ubercab.permission.NOTIFY_ACTION"
			>
			<intent-filter
				>
				<action
					android:name="com.ubercab.client.ACTION_CLICK"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_DELETE"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_TRIP_ADD_DESTINATION"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_TRIP_CANCEL"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_TRIP_SHARE_ETA"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_TRIP_SHOW_MAP"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_TRIP_SPLIT_FARE"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_FARE_SPLIT_INVITE_ACCEPT"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_FARE_SPLIT_INVITE_DECLINE"
					>
				</action>
				<action
					android:name="com.ubercab.client.ACTION_RECEIPT_RATE_DRIVER"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.ubercab.client.core.vendor.google.gcm.GcmReceiver"
			android:permission="com.google.android.c2dm.permission.SEND"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.google.android.c2dm.intent.RECEIVE"
					>
				</action>
				<category
					android:name="com.ubercab"
					>
				</category>
			</intent-filter>
		</receiver>
		<service
			android:name="com.ubercab.client.core.vendor.google.gcm.GcmService"
			>
		</service>
		<service
			android:name="com.baidu.location.f"
			android:enabled="false"
			android:process=":remote"
			>
		</service>
		<activity
			android:label="@7F0D02CF"
			android:name="com.ubercab.library.metrics.analytics.logging.AnalyticsEventListActivity"
			>
		</activity>
	</application>
</manifest>
